{% extends 'base.html' %}


{% load static %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

{% block content %}
<h1>Projects List</h1>

<!-- Add New Project Button -->
<a href="{% url 'project_create' %}" class="btn btn-primary">Create New Project</a>

<table id="projectsTable" class="display">
    <thead>
        <tr>
            <th>Project ID</th>
            <th>Title</th>
            <th>Project Manager</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Phase</th>
            <th>Actions</th>
        </tr>
        <tr>
            <th><input type="text" placeholder="Search ID" class="form-control"></th>
            <th><input type="text" placeholder="Search Title" class="form-control"></th>
            <th><input type="text" placeholder="Search Manager" class="form-control"></th>
            <th><input type="text" placeholder="Search Status" class="form-control"></th>
            <th><input type="text" placeholder="Search Start Date" class="form-control"></th>
            <th><input type="text" placeholder="Search End Date" class="form-control"></th>
            <th><input type="text" placeholder="Search Phase" class="form-control"></th>
            <th></th> <!-- No filter for Actions column -->
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project.project_id }}</td>
            <td>{{ project.title }}</td>
            <td>{{ project.project_manager.name }}</td>
            <td>{{ project.activity_status }}</td>
            <td>{{ project.start_date}}</td>
            <td>{{ project.end_date}}</td>
            <td>{{ project.current_phase}}</td>
            <td>
                <a href="{% url 'project_detail' pk=project.project_id %}">View</a> |
                <a href="{% url 'project_update' pk=project.project_id %}">Edit</a> |
                <a href="{% url 'project_delete' pk=project.project_id %}" class="delete-btn" data-pid="{{ project.project_id }}" data-title="{{ project.title }}">Delete</a> |
                <a href="{% url 'project_lvl_staff_manage' pk=project.project_id %}">Staff</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#projectsTable thead tr:eq(1) th').each( function (i) {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
            
            $( 'input', this ).on( 'keyup change clear', function () {
                if ( table.column(i).search() !== this.value ) {
                    table
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    
        var table = $('#projectsTable').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            // additional options can be added here
        });
    });
    </script>
{% endblock %}
